#!/usr/bin/make -f

DEB_DH_GENCONTROL_ARGS_ALL = $(shell if [ -f "../.VYATTA_DEV_BUILD" ]; then \
                                       echo "-- -v999.dev"; fi)

pre-build::
	rm -f debian/files

%:
	dh $@
